doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', type='text/css', href='/content/styles/site.css')
    link(rel='icon', type='image/x-icon', href='/content/images/favicon.ico')
    title Add Category
  body
    header
      nav.nav
        ul
          li
            a(href='/') Home Page
          li
            a(href='/product/add') Add Product
          li
            a(href='/category/add') Add Category
    main
      form#add-category-form.center-form(method='post')
        h2 Add Category
        .form-group
          label(for='name') Name
          input#name.input-field(name='name', type='text')
        .form-group
          input#add-category-btn.btn(type='submit', value='Add')
