doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title ShopStop
    link(rel='stylesheet', href='../content/styles/site.min.css')
  body
    header
      nav.nav
        ul
          li
            a(href='/') Home Page
          li
            a(href='/product/add') Add Product
          li
            a(href='/category/add') Add Category
    main
      form.form.center-form(method='post', enctype='multipart/form-data')
        .form-group
          label(for='name') Name
          input#name.input-field(name='name', type='text', required='true')
        .form-group
          label(for='description') Description
          textarea#description.input-field(name='description', type='text')
        .form-group
          label(for='price') Price
          input#price.input-field(name='price', type='number', step='0.01', accept='application/x-zip-compressed,image/*')
        .form-group
          label(for='image') Image
          input#image.input-field(name='image', type='file')
        .form-group
          label(for='group') Group
          select#group.input-field(name='category')
             each category in categories
                option(value=category._id) #{category.name}
        .form-group
          input.btn.form-btn(type='submit', value='Add')
    footer
      p © ShopStop
